/* colores */

$clr-white: #ffffff;
$clr-black: #000000;
$gradiente: linear-gradient(#000000, #031418);
$gradienteInv: linear-gradient(#031418, #000000);

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

$ff-arial: Arial, Helvetica, sans-serif;
$ff-worksans: 'Work Sans', sans-serif;
