<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Martin Arroyo">
    <meta name="description" content="aqui podras contactar directamente conmigo para hacer consultas, dar opiniones, etc">
    <meta name="keywords" content="contacto, correo, mensaje">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
</head>
<body>
    <!-- Empieza Nav -->

    <nav class="navbar navbar-expand-lg gradient px-3" id="arriba">
        <div class="container-fluid">
            <a class="navbar-brand p-3" href="../index.html"><img src="../img/logos/logo_2.svg" width="100px" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto border-bottom" id="navbar">
                <a class="nav-link text-work-sans" href="../views/newsletter.html">Newsletter</a>
                <a class="nav-link text-work-sans" href="../views/lanzamientos.html">Releases</a>
                <a class="nav-link text-work-sans" href="../views/tienda.html">Store</a>
                <a class="nav-link text-work-sans" href="../views/contacto.html">Contact</a>
            </div>
        </div>
        </div>
    </nav>

    <!-- Termina Nav -->


    <main>
<div class="container pt-5 my-1">
        <!-- form -->
        <form id="contactForm">
            <!-- Name input -->
            <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" type="texto" placeholder="John Doe" />
            </div>
        
            <!-- Email address input -->
            <div class="mb-3">
            <label class="form-label" for="emailAddress">Email</label>
            <input class="form-control" id="emailAddress" type="email" placeholder="JohnDoe@gmail.com" />
            </div>
        
            <!-- Message input -->
            <div class="mb-3">
            <label class="form-label" for="message">Message</label>
            <textarea class="form-control" id="message" type="text" placeholder="Your Message" style="height: 10rem;"></textarea>
            </div>
        
            <!-- Form submit button -->
            <div class="d-grid">
                <button class="text-white btn gradient btn-lg" type="submit">Send</button>
            </div>
        </form>
</div>

    </main>

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white">

        <section class="d-flex justify-content-between p-4 gradient-inv">
            <!-- Left -->
            <div class="me-5">
            <a class="text-white ir-arriba" href="#arriba">Scroll Up</a>
            </div>
            <!-- Left -->
        
            <!-- Right -->
            <div class="footer-social-icons footer-icons" id="footer-icons">
            <a target="blank" href="https://www.youtube.com/channel/UCvGuo9tWDaVzEQ7aHMlmV4g" class="text-white me-4">
                <img width="45px" src="../img/logos/youtube-blanco.svg" alt="logo youtube">
            </a>
            <a target="blank" href="https://www.instagram.com/martinarroyou/" class="text-white me-4">
                <img width="37px" src="../img/logos/ig-blanco.svg" alt="logo instagram">
            </a>
            <a target="blank" href="https://www.patreon.com/MartinArroyo?fan_landing=true" class="text-white me-4">
                <img width="37px" src="../img/logos/patreon-blanco.svg" alt="logo patreon">
            </a>
            <a target="blank" href="https://www.buymeacoffee.com/martinarroyo" class="text-white me-4">
                <img class="invert" width="37px" src="../img/logos/bmac-blanco.svg" alt="logo buymeacoffee">
            </a>
            </div>
            <!-- Right -->
        </section>
        
        <div class="text-center p-3 bg-black">
            © 2022 Copyright
        </div>
        </footer>
        <!-- Footer -->
    
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>