<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/estilo.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martin Arroyo - Entretenimiento Y Produccion Musical</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header id="arriba">
        <a id="logo" href="../index.html"><img src="../img/logos/logo_2.svg" alt="logo"></a>
        <nav class="navbar_container">
            <ul class="navbar_container-ul">
                <li><a href="../views/newsletter.html">Newsletter</a></li>
                <li><a href="../views/lanzamientos.html">Lanzamientos</a></li>
                <li><a href="../views/tienda.html">Tienda</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contenido">
            <h1>Ultimos Lanzamientos</h1>
            <article class="vid_container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/w_QC5KJ80rQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9cmHusJsmQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IE00AhdhB54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            <iframe width="560" height="315" src="https://www.youtube.com/embed/vTgLdQErSsU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MCaaFX--Kjg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jkDuwS4l0zE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </article>

        </section>
    </main>
    <footer>
        <a id="ir-arriba" href="#arriba">Ir Arriba</a>
        <div class="footer_socialmedia">
            <a target="_blank" href="https://www.youtube.com/channel/UCvGuo9tWDaVzEQ7aHMlmV4g"><img src="../img/logos/YouTube.svg" alt="logo de youtube"></a>
            <a target="_blank" href="https://www.instagram.com/martinarroyou/"><img src="../Img/logos/Instagram_Logo.svg" alt="logo de instagram"></a>
            <a target="_blank" href="https://twitter.com/Martin_Arroyo02"><img src="../Img/logos/Twitter_Logo.svg" alt="logo de twitter"></a>
            <a target="_blank" href="https://www.patreon.com/MartinArroyo?fan_landing=true"><img src="../Img/logos/Patreon_Logo.svg" alt="logo de patreon"></a>
            <a target="_blank" href="https://www.buymeacoffee.com/martinarroyo"><img src="../Img/logos/bmc_logo_yellow.svg" alt="logo de buiymeacoffee"></a>
        </div>
</footer>
</body>
</html>