<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Martin Arroyo | Produccion Y Entretenimiento</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css">

    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
</head>
<body>
    <!-- Empieza Nav -->

    <nav class="navbar navbar-expand-lg gradient px-3" id="arriba">
        <div class="container-fluid">
            <a class="navbar-brand p-3" href="../index.html"><img src="../img/logos/logo_2.svg" width="100px" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto border-bottom" id="navbar">
                <a class="nav-link text-work-sans" href="../views/newsletter.html">Newsletter</a>
                <a class="nav-link text-work-sans" href="../views/lanzamientos.html">Lanzamientos</a>
                <a class="nav-link text-work-sans" href="../views/tienda.html">Tienda</a>
                <a class="nav-link text-work-sans" href="../views/contacto.html">Contacto</a>
            </div>
        </div>
        </div>
    </nav>

    <!-- Termina Nav -->


    <main>
        <section class="container text-center article_tienda"> 
            <h1>Cursos</h1>
            <article class="row curso" >
                <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <img class="img_tienda" src="https://images.pexels.com/photos/306089/pexels-photo-306089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="curso de produccion">
                    <figcaption>Fundamentos de la produccion Musical</figcaption>
                    <p>5000$</p>
                </figure>
                <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <img class="img_tienda" src="https://images.pexels.com/photos/306089/pexels-photo-306089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="curso de produccion">
                    <figcaption>Fundamentos de la produccion Musical</figcaption>
                    <p>5000$</p>
                </figure>
                <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <img class="img_tienda" src="https://images.pexels.com/photos/306089/pexels-photo-306089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="curso de produccion">
                    <figcaption>Fundamentos de la produccion Musical</figcaption>
                    <p>5000$</p>
                </figure>
                <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <img class="img_tienda" src="https://images.pexels.com/photos/306089/pexels-photo-306089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="curso de produccion">
                    <figcaption>Fundamentos de la produccion Musical</figcaption>
                    <p>5000$</p>
                </figure>
            </article>
            <h1>Merchandising</h1>
            <article class="row curso">
                    <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <img class="img_tienda" src="../img/misc/remera.png" alt="remera">
                        <figcaption>Remera <br> Thornhill - Heroine</figcaption>
                        <p>(S - M - L - XL)</p>
                        <p>1000$</p>
                    </figure>
                    <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <img class="img_tienda" src="../img/misc/remera.png" alt="remera">
                        <figcaption>Remera <br> Thornhill - Heroine</figcaption>
                        <p>(S - M - L - XL)</p>
                        <p>1000$</p>
                    </figure>
                    <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <img class="img_tienda" src="../img/misc/remera.png" alt="remera">
                        <figcaption>Remera <br> Thornhill - Heroine</figcaption>
                        <p>(S - M - L - XL)</p>
                        <p>1000$</p>
                    </figure>
                    <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <img class="img_tienda" src="../img/misc/remera.png" alt="remera">
                        <figcaption>Remera <br> Thornhill - Heroine</figcaption>
                        <p>(S - M - L - XL)</p>
                        <p>1000$</p>
                    </figure>
            </article>
        </section>
    </main>

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white">

    <section class="d-flex justify-content-between p-4 gradient-inv">
        <!-- Left -->
        <div class="me-5">
        <a class="text-white ir-arriba" href="#arriba">Ir Arriba</a>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div class="footer-social-icons footer-icons" id="footer-icons">
        <a target="blank" href="https://www.youtube.com/channel/UCvGuo9tWDaVzEQ7aHMlmV4g" class="text-white me-4">
            <img width="45px" src="../img/logos/youtube-blanco.svg" alt="logo-youtube">
        </a>
        <a target="blank" href="https://www.instagram.com/martinarroyou/" class="text-white me-4">
            <img width="37px" src="../img/logos/ig-blanco.svg" alt="logo-ig">
        </a>
        <a target="blank" href="https://www.patreon.com/MartinArroyo?fan_landing=true" class="text-white me-4">
            <img width="37px" src="../img/logos/patreon-blanco.svg" alt="logo-patreon">
        </a>
        <a target="blank" href="https://www.buymeacoffee.com/martinarroyo" class="text-white me-4">
            <img class="invert" width="37px" src="../img/logos/bmac-blanco.svg" alt="logo-bmac">
        </a>
        </div>
        <!-- Right -->
    </section>
    
    <div class="text-center p-3 bg-black">
        © 2022 Copyright
    </div>
    </footer>
    <!-- Footer -->

<script src="../js/bootstrap.min.js"></script>
</body>
</html>