<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/estilo.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martin Arroyo - Entretenimiento Y Produccion Musical</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/grid-tienda.css">
</head>
<body class="grid">
    <header id="arriba">
        <a id="logo" href="../index.html"><img src="../img/logos/logo_2.svg" alt="logo"></a>
        <nav class="navbar_container">
            <ul class="navbar_container-ul">
                <li><a href="../views/newsletter.html">Newsletter</a></li>
                <li><a href="../views/lanzamientos.html">Lanzamientos</a></li>
                <li><a href="../views/tienda.html">Tienda</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="article_tienda"> 
            <h1>Cursos</h1>
            <article class="curso" >
                <figure>
                    <img class="img_tienda" src="https://images.pexels.com/photos/306089/pexels-photo-306089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="curso de produccion">
                    <figcaption>Fundamentos de la produccion Musical</figcaption>
                    <p>5000$</p>
                </figure>
                <figure>
                    <img class="img_tienda" src="https://images.pexels.com/photos/306089/pexels-photo-306089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="curso de produccion">
                    <figcaption>Fundamentos de la produccion Musical</figcaption>
                    <p>5000$</p>
                </figure>
                <figure>
                    <img class="img_tienda" src="https://images.pexels.com/photos/306089/pexels-photo-306089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="curso de produccion">
                    <figcaption>Fundamentos de la produccion Musical</figcaption>
                    <p>5000$</p>
                </figure>
                <figure>
                    <img class="img_tienda" src="https://images.pexels.com/photos/306089/pexels-photo-306089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="curso de produccion">
                    <figcaption>Fundamentos de la produccion Musical</figcaption>
                    <p>5000$</p>
                </figure>
            </article>
            <h1>Merchandising</h1>
            <article class="merch">
                
                <figure >
                    <img class="img_tienda" src="../img/misc/remera.png" alt="remera">
                    <figcaption>Remera <br> Thornhill - Heroine</figcaption>
                    <p>(S - M - L - XL)</p>
                    <p>1000$</p>
                </figure>
                <figure >
                    <img class="img_tienda" src="../img/misc/remera.png" alt="remera">
                    <figcaption>Remera <br> Thornhill - Heroine</figcaption>
                    <p>(S - M - L - XL)</p>
                    <p>1000$</p>
                </figure>
                <figure >
                    <img class="img_tienda" src="../img/misc/remera.png" alt="remera">
                    <figcaption>Remera <br> Thornhill - Heroine</figcaption>
                    <p>(S - M - L - XL)</p>
                    <p>1000$</p>
                </figure>
                <figure >
                    <img class="img_tienda" src="../img/misc/remera.png" alt="remera">
                    <figcaption>Remera <br> Thornhill - Heroine</figcaption>
                    <p>(S - M - L - XL)</p>
                    <p>1000$</p>
                </figure>
                <figure >
                    <img class="img_tienda" src="../img/misc/remera.png" alt="remera">
                    <figcaption>Remera <br> Thornhill - Heroine</figcaption>
                    <p>(S - M - L - XL)</p>
                    <p>1000$</p>
                </figure>
                <figure >
                    <img class="img_tienda" src="../img/misc/remera.png" alt="remera">
                    <figcaption>Remera <br> Thornhill - Heroine</figcaption>
                    <p>(S - M - L - XL)</p>
                    <p>1000$</p>
                </figure>
                
            </article>
        </section>
    </main>
    <aside class="ads">
        <img src="https://via.placeholder.com/300" alt="espacio para anuncio">
        <div class="relleno">
        <img src="https://via.placeholder.com/300" alt="espacio para anuncio">
        <img src="https://via.placeholder.com/300" alt="espacio para anuncio">
        <img src="https://via.placeholder.com/300" alt="espacio para anuncio">
        <img src="https://via.placeholder.com/300" alt="espacio para anuncio">
        <img src="https://via.placeholder.com/300" alt="espacio para anuncio">
        <img src="https://via.placeholder.com/300" alt="espacio para anuncio">
        <img src="https://via.placeholder.com/300" alt="espacio para anuncio">
        <img src="https://via.placeholder.com/300" alt="espacio para anuncio">
        </div>
    </aside>
    <footer>
        <a id="ir-arriba" href="#arriba">Ir Arriba</a>
        <div class="footer_socialmedia">
            <a target="_blank" href="https://www.youtube.com/channel/UCvGuo9tWDaVzEQ7aHMlmV4g"><img src="../img/logos/YouTube.svg" width="150px" alt="logo de youtube"></a>
            <a target="_blank" href="https://www.instagram.com/martinarroyou/"><img src="../Img/logos/Instagram_Logo.svg" width="150px" alt="logo de instagram"></a>
            <a target="_blank" href="https://twitter.com/Martin_Arroyo02"><img src="../Img/logos/Twitter_Logo.svg" width="150px" alt="logo de twitter"></a>
            <a target="_blank" href="https://www.patreon.com/MartinArroyo?fan_landing=true"><img src="../Img/logos/Patreon_Logo.svg" width="150px" alt="logo de patreon"></a>
            <a target="_blank" href="https://www.buymeacoffee.com/martinarroyo"><img src="../Img/logos/bmc_logo_yellow.svg" width="150px" alt="logo de buiymeacoffee"></a>
            <br>
        </div>
    </footer>
</body>
</html>