/* main */

main{
    min-height: 73vh;
}

figure{
    padding: 20px;
    margin: 10px 0;

    & img{
        @extend .img-heroe;
        transition: transform 0.5s ease-out;
    }

    & img:hover, iframe:hover{
        transform: scale(105%);
    }
}

figcaption{
    @include center;
    padding: 20px 0;
    color: $clr-white;
}

/* header */

.navbar-toggler-icon{
    filter: invert(100);
}

nav{
    background: map-get($colors, gradiente);
}

#navbar{
    & a:hover{
        color: map-get($colors, negro) !important;
        background-color: map-get($colors, blanco);
        transform: translateY(-5px);
        opacity: 0.9;
        transition: all 0.5s ease;
        
    }
    
}

/* tienda */

img.img_tienda{
    width: 100%;
}

/* tienda end */

/* contacto */

.mensaje{
    @include wrap;
    align-items:flex-start;
}

.correo{
    margin-left: 7.5px;
}

label{
    padding: 0 15px ;
}

textarea{
    resize: both;
}

.contenido{
    max-width: 100%;
}

/* contacto end */

/* lanzamientos */

.vid_container{
    @include wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;
}

iframe{
    padding: 20px;
}

/* lanzamientos end */

/* newsletter */

.main_newsletter{
    min-height: 600px;
    @include wrap;
    flex-direction: column;
}

.newsletter_flex_container{
    @include wrap;
    flex-direction: column;
    @include center;
    padding: 10px;
}

.newsletter_flex_container{
    & input{
        margin: 10px;
        border-radius: 5%;
    }
    & label{
        padding: 15px;
    }
}


/* newsletter end */

/* footer */

div#footer-icons{
    & a{
        & img:hover{
            transform: translateY(-5px);
            transition: all 0.5s ease;
        }
    }
}

.invert{
    filter: invert(100);
}

footer{
    & section{
        background: map-get($colors, gradienteinv);
    }
}